body {
    background-color: black;
}
nav {
    background-color: #30303044;
}

nav strong {
    color: #fff;
}

h2 {
    color: #fff;
    margin-top: 32px;
}

.card {
    margin: 16px 0;
}

footer {
    background-color: #30303044;
    color: #fff;
    text-align: center;
    padding: 16px;
}